* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #060b26;
  color: white;
  flex-direction: column;
}
.article {
  height: -webkit-fill-available;
  font-weight: bold;
}
h3 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 30px;
}
.yellow::first-letter {
  font-weight: bold;
  color: yellow;
}
button {
  border: none;
  width: 100px;
  height: 23px;
  border-radius: 15px;
}
ul {
  list-style: none;
  display: flex;
  padding: 0.5rem;
}
link {
  list-style: none;
  display: block;
}
.liste {
  display: grid;
  list-style: square;
  list-style-position: inside;
  margin-bottom: 2rem;
}
a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem;
  right: inherit;
  color: white;
}
.menu {
  font-size: 1rem;
  color: white;
  display: none;
  justify-content: flex-end;
  max-height: 100vh;
  opacity: 1;
}
img {
  width: 4rem;
  position: absolute;
  top: 1%;
  right: 5%;
}
.navbar {
  position: fixed;
  right: 10rem;
  top: 0.2rem;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .menu {
    color: white;
    margin: 0.5rem;
    display: flex;
  }
  a {
    text-decoration: none;
  }
  ul {
    display: flex;
  }
  img {
    display: none;
  }
}
